<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description></description>
    <display-name>JPAConfig</display-name>
    <servlet-name>JPAConfig</servlet-name>
    <servlet-class>validator.configs.JPAConfig</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JPAConfig</servlet-name>
    <url-pattern>/JPAConfig</url-pattern>
  </servlet-mapping>
  <display-name>JPA_Servlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.xhtml</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.xhtml</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CategoryController</display-name>
    <servlet-name>CategoryController</servlet-name>
    <servlet-class>validator.controller.CategoryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryController</servlet-name>
    <url-pattern>/CategoryController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCategoryController</display-name>
    <servlet-name>AddCategoryController</servlet-name>
    <servlet-class>validator.controller.AddCategoryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCategoryController</servlet-name>
    <url-pattern>/AddCategoryController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryControllers</display-name>
    <servlet-name>CategoryControllers</servlet-name>
    <servlet-class>validator.controller.CategoryControllers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryControllers</servlet-name>
    <url-pattern>/CategoryControllers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>validator.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeController</display-name>
    <servlet-name>HomeController</servlet-name>
    <servlet-class>validator.controller.HomeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeController</servlet-name>
    <url-pattern>/HomeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerHomeController</display-name>
    <servlet-name>ManagerHomeController</servlet-name>
    <servlet-class>validator.controller.ManagerHomeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerHomeController</servlet-name>
    <url-pattern>/ManagerHomeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminHomeController</display-name>
    <servlet-name>AdminHomeController</servlet-name>
    <servlet-class>validator.controller.AdminHomeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminHomeController</servlet-name>
    <url-pattern>/AdminHomeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RoleFilter</display-name>
    <servlet-name>RoleFilter</servlet-name>
    <servlet-class>validator.filter.RoleFilter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoleFilter</servlet-name>
    <url-pattern>/RoleFilter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>testController</display-name>
    <servlet-name>testController</servlet-name>
    <servlet-class>validator.configs.testController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>testController</servlet-name>
    <url-pattern>/testController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>test</display-name>
    <servlet-name>test</servlet-name>
    <servlet-class>validator.configs.testController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
</web-app>